*{
    
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    /* border: dotted red 3px; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    /* border: dotted rgb(0, 4, 255) 3px; */
    width: 100%;

    display: flex;
    align-items: start;
    background-image: url(./images/foto1.svg) ;  
    background-repeat:no-repeat; 
    background-size: cover;
    background-position: center;
    height:74vh ;
    background-color: #A78D75;
}

.header img{
    
    width: 100%;
}

.navSuperior {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* border: dotted rgb(0, 255, 0) 3px; */
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    /* border: dotted rgb(68, 0, 255) 3px; */
}


.body{
    /* border: dotted rgb(60, 255, 0) 3px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body img{
    width: 100%;
}
.footer{
    /* border: dotted rgb(0, 255, 234) 3px; */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 100%;
}
.about{
    /* border: dotted rgb(238, 255, 0) 3px; */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF7;
}

/* comentario */
    .superior{
        /* border: dotted rgb(0, 102, 255) 3px; */
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .superior .dog{
        width: 700px;
    }


    .blog{
        /* border: dotted rgb(0, 102, 255) 3px; */
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .blog img{
        width: 80%;
    }

    .contacto{
        /* border: dotted rgb(0, 102, 255) 3px; */
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .contacto img{
        width: 80%;
    }